In [17]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
import pandas as pd
from sklearn.datasets import load_iris
import numpy as np

In [3]:
ir_data = load_iris()

In [4]:
dir(ir_data)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [5]:
df = pd.DataFrame(ir_data.data, columns=ir_data.feature_names)

In [7]:
df["target"] = ir_data["target"]

In [8]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  target
0                  5.1               3.5                1.4               0.2       0
1                  4.9               3.0                1.4               0.2       0
2                  4.7               3.2                1.3               0.2       0
3                  4.6               3.1                1.5               0.2       0
4                  5.0               3.6                1.4               0.2       0
..                 ...               ...                ...               ...     ...
145                6.7               3.0                5.2               2.3       2
146                6.3               2.5                5.0               1.9       2
147                6.5               3.0                5.2               2.0       2
148                6.2               3.4                5.4               2.3       2
149                5.9               3.0                5.1               1.8       2

[150 rows x 5 columns]

In [9]:
model = SVC()

In [15]:
score = cross_val_score(model, df.drop("target", axis=1),df["target"], cv=5 )

In [16]:
score

array([0.96666667, 0.96666667, 0.96666667, 0.93333333, 1.        ])

# we will go more deep

In [20]:
kern = ['linear','rbf']
C =[1,5,10]
avg_score = {}

for k in kern:
    for c_val in C:
        cv_score = cross_val_score(SVC(C=c_val, kernel=k), df.drop("target", axis=1),df["target"],cv=5 )
        avg_score[k+ "_"+str(c_val)] = np.average(cv_score)

In [21]:
avg_score

{'linear_1': np.float64(0.9800000000000001),
 'linear_5': np.float64(0.9800000000000001),
 'linear_10': np.float64(0.9733333333333334),
 'rbf_1': np.float64(0.9666666666666666),
 'rbf_5': np.float64(0.9866666666666667),
 'rbf_10': np.float64(0.9800000000000001)}